.md-header__button.md-logo img {
height: 38px !important; /* or whatever size you want */
width: auto !important;
}

.md-typeset table th {
background-color: #a3a3a3; 
}

.md-typeset table td {border: 2px solid #ccc;}


/* Top tabs */
.md-tabs_list a.md-tabs_link[href*="https://kangaroobuilder.discourse.group"] {
  font-style: italic !important; /* optional */
}

/* Sidebar / drawer nav */
nav.md-nav a.md-nav__link[href*="https://kangaroobuilder.discourse.group"] {
  font-style: italic !important; /*optional*/
}